html {
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: #1e1d40;
    font-size: 125%;
}

.center { /* thx stackoverflow */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.imageBorder {
    border: 50px solid #2f2957;
}

.discord {
    font-weight: bold;
    color: #778df7;
}
